<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
</head>

<body>

<h2>Candidate Results</h2>

<a href="/export?password=admin123">
<button>Download CSV</button>
</a>

<br><br>

<table border="1">

<tr>
<th>Email</th>
<th>Test</th>
<th>Language</th>
<th>Answers</th>
<th>Translation</th>
<th>Interpretation</th>
<th>Status</th>
</tr>

{% for r in data %}
<tr>
<td>{{r[0]}}</td>
<td>{{r[1]}}</td>
<td>{{r[2]}}</td>
<td>{{r[3]}}</td>

<td>{{r[4]|safe}}</td>
<td>{{r[5]|safe}}</td>

<td>
{% if r[6]=="PASS" %}
<span style="color:green;font-weight:bold;">PASS</span>
{% else %}
<span style="color:red;font-weight:bold;">FAIL</span>
{% endif %}
</td>

</tr>
{% endfor %}

</table>

</body>
</html>